@model FooterVM
<!-- Footer section -->
<section class="footer-section">
    <div class="container">
        <div class="footer-logo text-center">
            <a href="index.html"><img src="./img/logo-light.png" alt=""></a>
        </div>
        <div class="row">
            @foreach (var item in Model.FooterPages)
            {
                if (item.Type == 4)
                {
                    if (item.DisplayIndex == 1)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget about-widget">
                                <h2>@item.Name</h2>
                                <p>@item.Desc</p>
                                <img src="@item.Icon" alt="">
                            </div>
                        </div>
                    }
                    else if (item.DisplayIndex == 2)
                    {
                        var parentList = Model.FooterPages.Where(parent => Model.FooterPages.Any(a => item.ID == parent.ParentId)).ToList();
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget about-widget">
                                <h2>@item.Name</h2>
                                <ul>
                                    @foreach (var altItem in parentList)
                                    {
                                        <li><a href="">@altItem.Name</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    else if (item.DisplayIndex == 3)
                    {
                        var parentList = Model.FooterPages.Where(parent => Model.FooterPages.Any(a => item.ID == parent.ParentId)).ToList();
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget about-widget">
                                <h2>@item.Name</h2>
                                <div class="fw-latest-post-widget">
                                    @foreach (var altItem in parentList)
                                    {
                                        <div class="lp-item">
                                            <div class="lp-thumb set-bg" data-setbg="@altItem.Icon"></div>
                                            <div class="lp-content">
                                                <h6>@altItem.Name</h6>
                                                <span>@altItem.Status</span>
                                                <a href="#" class="readmore">Read More</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.DisplayIndex == 4)
                    {
                        var parentList = Model.FooterPages.Where(parent => Model.FooterPages.Any(a => item.ID == parent.ParentId)).ToList();
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget contact-widget">
                                <h2>@item.Name</h2>
                                @foreach (var altItem in parentList)
                                {
                                    <div class="con-info">
                                        <span>@altItem.Name</span>
                                        <p>@altItem.Desc</p>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container">
            <div class="social-links">
                @foreach (var item in Model.FooterPages)
                {
                    if (item.Type == 6)
                    {
                        <a href="" class="@item.Icon"><i class="fa fa-@item.Icon"></i><span>@item.Name</span></a>
                    }
                }
            </div>

            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="text-white text-center mt-5">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </div>
</section>
<!-- Footer section end -->